dj-database-url==0.3.0
Django==1.8.6
et-xmlfile==1.0.1
gunicorn==19.4.5
jdatetime==1.7.1
jdcal==1.2
openpyxl==2.3.2
persistent==4.0.8
py2app==0.7.3
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-pptx==0.5.6
pytz==2013.7
requests==2.9.1
requests-futures==0.9.5
six==1.4.1
SQLAlchemy==0.9.8
transaction==1.4.3
WebOb==1.4
whitenoise==2.0.6
zc.lockfile==1.1.0
ZConfig==3.0.4
zdaemon==4.0.1
ZODB==4.1.0
zope.interface==4.1.1
psycopg2==2.6.1