<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">


    <title>IME Dashboard</title>
    <link rel="shortcut icon" href="{% static 'img/icon.jpg'%}">
    <link rel="stylesheet" href="{% static 'css/pick-a-color-1.2.3.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.4.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.bootstrap.newsbox.js' %}" type="text/javascript"></script>
    <script src="//www.google.com/jsapi" type="text/javascript" ></script>
    <script src="{% static 'Chart.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/owl.carousel.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.customSelect.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common-scripts.js' %}"></script>
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/easy-pie-chart.js' %}"></script>
    <script src="{% static 'js/MdBootstrapPersianDateTimePicker/jalaali.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js' %}" type="text/javascript"></script>



    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css" />
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
    <link href="{% static  'css/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" >
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet" type="text/css" />
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet"  type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'jalalijscalendar/skins/aqua/theme.css' %}">
    <script src="{% static 'jalalijscalendar/jalali.js' %}"></script>
    <script src="{% static 'jalalijscalendar/calendar.js' %}"></script>
    <script src="{% static 'jalalijscalendar/calendar-setup.js' %}"></script>
    <script src="{% static 'jalalijscalendar/lang/calendar-fa.js' %}"></script>


    <script>
        var lineChartData = {};
        function select_and_time(){
            console.log($("#date_input").val());
            var time_slot = 3;
            {#            if ($("#chart-type").val() == 'یک هفته')#}
            {#                time_slot = 1;#}
            {#            else if ($("#chart-type").val() == 'سه هفتگی')#}
            {#                time_slot = 3;#}
            {#            else if ($("#chart-type").val() == 'فصلی')#}
            {#                time_slot = 12;#}
            {#            else if ($("#chart-type").val() == 'سالانه')#}
            {#                time_slot = 52;#}

            return {"date":$("#date_input").val() ,  "time_slot": time_slot};
        }
        function add_date_options(){
            var day = document.getElementById("day");
            day.innerHTML = "<option disabled selected>روز</option>";
            for (var i = 1; i < 32; i++) {
                var x = document.createElement("option");
                x.innerHTML = persianize(i);
                day.appendChild(x);
            }
            var month = document.getElementById("month");
            var months = ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"];
            month.innerHTML = "<option disabled selected>ماه</option>";
            for (var i = 1; i < 13; i++) {
                var x = document.createElement("option");
                x.innerHTML = months[i-1];
                month.appendChild(x);
            }
            var year = document.getElementById("year");
            year.innerHTML = "<option disabled selected>سال</option>";
            for (var i = 1388; i < 1410; i++) {
                var x = document.createElement("option");
                x.innerHTML = persianize(i);
                year.appendChild(x);
            }
        }

        function set_date() {
            var value = $("#date_input").val();
            var month = document.getElementById("month");
            var day = document.getElementById("day");
            var year = document.getElementById("year");
            var split = value.split("/");
            var dayVal = parseInt(split[2]);
            var monthVal = parseInt(split[1]);
            var yearVal = parseInt(split[0]);
            var months = ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"];
            day.innerHTML = "";
            for (var i = 1; i < 32; i++) {
                var x = document.createElement("option");
                x.innerHTML = persianize(i);
                if (i == dayVal) {
                    x.selected = true;
                }
                day.appendChild(x);
            }
            month.innerHTML = "";
            for (var i = 1; i < 13; i++) {
                var x = document.createElement("option");
                x.innerHTML = months[i-1];

                if (i == monthVal) {
                    x.selected = true;
                }
                month.appendChild(x);
            }
            year.innerHTML = "";
            for (var i = 1388; i < 1410; i++) {
                var x = document.createElement("option");
                x.innerHTML = persianize(i);
                if (i == yearVal) {
                    x.selected = true;
                }
                year.appendChild(x);
            }


        }

        function get_data_from_server(){
            var labels = null;
            var datas = null;
            $.ajax({
                url: " {% url 'getDatas' %}",
                dataType: "json",
                data:
                {
                    "select_and_time" : select_and_time()
                },
                type: "GET",
                success: function (response) {

                    datas = response['datas'];

                    for (var i = 0; i < Object.keys(datas).length ;i++){

                        var key = Object.keys(datas)[i];
                        create_chart(datas,key);
                    }

                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                    alert("error doing something");
                }
            });

        }

        function create_chart(chartDatas,key){
            console.log(key);
            console.log(chartDatas);
            var key1Trade = chartDatas[key]["trade"];
            var key1Supply = chartDatas[key]["supply"];
            var key1Demand = chartDatas[key]["demand"];
            console.log("bah bah" + key1Trade[1]);
            var data = {
                labels: key1Trade[0],
                datasets: [
                    {

                        type: "line",
                        label: "معامله",
                        fillColor: "rgba(220,0,0,0)",
                        strokeColor: "rgba(220,0,0,1)",
                        pointColor: "rgba(220,0,0,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Trade[1]
                    },
                    {
                        label: "عرضه",
                        type:"bar",
                        fillColor: "rgba(0,220,0,0.5)",
                        strokeColor: "rgba(0,220,0,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Supply[1]
                    },
                    {
                        type: "bar",
                        label: "تقاضا",
                        fillColor: "rgba(0,0,220,0.5)",
                        strokeColor: "rgba(0,0,220,1)",
                        pointColor: "rgba(0,0,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: key1Demand[1]
                    },

                ]
            };

            lineChartData[key] = data;
            console.log(key);




            var b = document.getElementById(key);
            var par = b.parentNode;
            b.remove();

            var newChild = document.createElement("canvas");
            newChild.setAttribute("id", key);
            newChild.setAttribute("height", "900");
            newChild.setAttribute("width", "1400");

            par.appendChild(newChild);
            console.log("par " + par);
            var ctx = document.getElementById(key).getContext("2d");
            window.myLine = new Chart(ctx).Overlay(lineChartData[key], {
                responsive: true,
                multiTooltipTemplate: "<%= datasetLabel %> - <%= persianize(value) %>",
                datasetStrokeWidth : 1,

            });


        };
        $(document).ready(function () {

            var data = [
                {
                    value: 300,
                    color:"#F7464A",
                    highlight: "#FF5A5E",
                    label: "صنعتی"
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "کشاورزی"
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "معدنی"
                },
                {
                    value: 40,
                    color: "#949FB1",
                    highlight: "#A8B3C5",
                    label: "پتروشیمی"
                },
                {
                    value: 120,
                    color: "#4D5360",
                    highlight: "#616774",
                    label: "فرآورده‌های نفتی"
                }

            ];
            var data2 = [
                {
                    value: 90,
                    color:"#F7464A",
                    highlight: "#FF5A5E",
                    label: "صنعتی"
                },
                {
                    value: 25,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "کشاورزی"
                },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "معدنی"
                },
                {
                    value: 16,
                    color: "#949FB1",
                    highlight: "#A8B3C5",
                    label: "پتروشیمی"
                },
                {
                    value: 14.4,
                    color: "#4D5360",
                    highlight: "#616774",
                    label: "فرآورده‌های نفتی"
                }

            ];
            var ctx = document.getElementById("Hajm").getContext("2d");
            new Chart(ctx).PolarArea(data,{
                responsive: true,
            });
            ctx = document.getElementById("Arzesh").getContext("2d");
            new Chart(ctx).PolarArea(data2,{
                responsive: true,
            });
            console.log($("#sel1").val());
            add_date_options();
            {#            get_data_from_server()#}
        });
        persian={'0':'۰','1':'۱','2':'۲','3':'۳','4':'۴','5':'۵','6':'۶','7':'۷','8':'۸','9':'۹'};

        function persianize(n)
        {
            var nStr = n.toString();
            var s = ""
            for (var i = 0; i < nStr.length; i++) {
                s += persian[nStr[i]];
            }
            return s;
        }

        function persianize_string(s)
        {
            var ans = "";
            for (var i = 0;i < s.length; i++) {
                if (s[i] >= '0' && s[i] <= '9') {
                    ans += persianize(parseInt(s[i]));
                }
                else {
                    ans += s[i];
                }
            }
            return ans;
        }

    </script>

    <script type="text/javascript">
        google.load("feeds", "1");

        function initialize() {
            var feed = new google.feeds.Feed("http://www.eghtesadnews.com/Live/Services/Rss/Selected/latest");
            feed.setNumEntries(20);
            feed.includeHistoricalEntries();

            console.log(feed);
            feed.load(function(result) {
                console.log(result);
                if (!result.error) {
                    var container = document.getElementById("feed");
                    for (var i = 0; i < 20; i++) {
                        var entry = result.feed.entries[i];
                        var list = document.createElement("li");
                        list.setAttribute("class", "news-item");

                        list.innerHTML = "<div class='container' style='width:inherit; padding: 0px !important'>" +
                                "<img src='{% static 'img/eqtesad.png' %}'  style='height: inherit; margin: 0 !important; padding: 0 !important;' class='img-circle col-lg-1' alt='Responsive image'>" +

                                "<div class='col-lg-11' style=' font-size: medium; margin-right: 0px !important; ; padding-left: 0px !important''><a href='"+ entry.link + "'><span><strong>" + entry.title +"</strong></span></a><br><span style='width: inherit; font-size: small; display: inline-block !important;'><p>"+entry.content + "</p></span></div>"+
                                " </div>";
                        container.appendChild(list);
                    }
                }
                $(".demo1").bootstrapNews({
                    newsPerPage: 5,
                    autoplay: true,
                    pauseOnHover:true,
                    direction: 'up',
                    newsTickerInterval: 4000,
                    onToDo: function () {
                        //console.log(this);
                    }
                });
            });
        }
        google.setOnLoadCallback(initialize);

    </script>


    <script>
        idGen = 0;
        function add_chart(){
            $('#error').remove();
            var adder = document.getElementById("adder");
            var selectDate = $('#day').val()+"&nbsp;" + $('#month').val() + "&nbsp;" + $('#year').val();
            var heading_text = "نمودار  "+ $('#chart-type').val() + " منتهی به تاریخ &nbsp" + persianize_string(selectDate) + " ( " + $('input[name="type"]:checked').val() + " )";
            var cont = document.getElementById('menu2');
            if ($('#chart-type').val() == null || $('#day').val() == null || $('#month').val() == null || $('#year').val() == null) {
                var cont2 = document.getElementById("adder-container");
                var errorElement = document.createElement("div");
                errorElement.setAttribute("class", "alert alert-danger fade in");
                errorElement.setAttribute("id", "error");
                errorElement.innerHTML = '<span style="font-size: large"><strong>خطا، </strong>ورودی‌ها معتبر نیستند.</span>'
                cont2.insertBefore(errorElement, adder);
            }
            else {
                var panel_container = document.createElement("div");
                {#             <div class="container-fluid panel-container" style="margin-top: 1%; padding: 2%">;#}
                panel_container.setAttribute("class", "container-fluid panel-container");
                panel_container.setAttribute("style", "margin-top: 1%; padding: 2%");

                var panel = document.createElement('div');
                panel.setAttribute("class", "panel");
                var heading = document.createElement("div");
                heading.setAttribute("class", "panel-heading main-panel-heading");
                heading.setAttribute("style", "background-color: #4250ae");
                heading.innerHTML = '<span><i class="glyphicon glyphicon-stats"></i>&nbsp;&nbsp;' +
                        heading_text + '</span>';
                var removeB = document.createElement('button');
                removeB.setAttribute("style", "float:left; color: red; background-color: transparent; border: none; font-size: large");
                removeB.setAttribute("class", "deleteMe");
                removeB.innerHTML = "<i class='glyphicon glyphicon-trash'></i>";
                heading.appendChild(removeB);
                panel.appendChild(heading);

                var body = document.createElement("div");
                body.setAttribute("class", "panel-body col-lg-12");
                body.setAttribute("style", "background-color: #afbcf3; padding-left: 0px; padding-right: 0px");
                body.innerHTML =
                        '<div class="col-lg-12 container""> <section class="shadow panel" style="padding-top: 3% !important"><canvas id="NCI-CR08AB-00" height=100" width="500"></canvas>' +
                        '</div></section></section>' + '<div class="col-lg-12 container" ><section class="panel "><div class=" shadow col-lg-12 panel-heading white-bg"><span style="float:right; font-size: x-large">داده‌های نمودار</span><span style="padding: 0px; float:left; color:green; font-size:x-large;" onclick="add_selector(); border: none">+</span></div>' +
                        ' <div class="col-lg-12 shadow panel-body white-bg" id = "selectors"></div>' +
                        '</section> </div> ';
                panel.appendChild(body);

                panel_container.appendChild(panel);
                cont.insertBefore(panel_container, cont.firstChild);
                get_data_from_server();
            }
            return false;
        }

        function add_selector() {
            var selector = document.getElementById("selectors");
            var selectorId = "color"+idGen;
            idGen += 1;
            mainOptions = "";

            selector.innerHTML += '<table style="border-spacing: 4px;border-collapse: separate;">' +
                    '<tr><td>' +
                    '<select class="form-control push-right" style="box-sizing:content-box;"> ' +
                    '<option selected>همه‌ی گروه‌های اصلی</option>' +
                    mainOptions +
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<select class="form-control push-right"style="box-sizing:content-box; "> ' +
                    '<option>همه‌ی گروه‌ها</option>' +
                    '<option>آلومینیوم</option>' +
                    '<option selected>مس</option>' +
                    '<option>فولاد</option>' +
                    '<option>طلا</option>' +
                    '<option>نیکل</option>' +
                    '<option>روی</option>' +
                    '<option>کک</option>' +
                    '<option>سیمان</option>' +
                    '<option>سنگ‌آهن</option>' +
                    '<option>کنسانتره</option>' +
                    '<option>کنسانتره مولبیدن</option>' +
                    '</select>' +
                    '</td><td>' +
                    '<select class="form-control push-right" style="box-sizing:content-box;"> ' +
                    '<option>همه‌ی زیرگروه‌ها</option>' +
                    '<option selected>مفتول مسی</option>' +
                    '<option>اسلب مسی</option>' +
                    '<option>مس کاتدی</option>' +
                    '<option>اکسید مس</option>' +
                    '<option>مس کم‌عیار</option>' +
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<select class="form-control push-right" style="box-sizing:content-box;"> ' +
                    '<option>همه‌ی تولید کنندگان</option>' +
                    '<option>ایرالکو</option>' +
                    '<option  selected>صنایع مس ایران</option>' +
                    '<option>دنیای مس کاشان</option>' +
                    '<option>صنایع مس کاوه</option>' +
                    '<option>مس کاران</option>' +
                    '</select>' +
                    '</td>' +
                    '<td><input type="text" value="000" name="border-color"  id ="'+ selectorId + '" class="pick-a-color form-control"></td>'+
                    '<td><i class="glyphicon glyphicon-eye-open hideTable" style="color:black !important"></i></td>' +
                    '<td><i class="glyphicon glyphicon-trash deleteTable" style="color:black !important"></i></td>' +
                    '</tr></table>';
            $("#"+selectorId).pickAColor({
                showSpectrum            : true,
                showSavedColors         : true,
                saveColorsPerElement    : false,
                fadeMenuToggle          : true,
                showHexInput            : false,
                showBasicColors         : true,
                allowBlank              : false,
                inlineDropdown          : false
            });
        }

        $(document).on("click",".deleteMe", function(){
            $(this).closest(".panel-container").remove();
        });

        $(document).on("click",".deleteTable", function(){
            $(this).closest("table").remove();
        });
        $(document).on("click",".hideTable", function(){
            var eye = this;
            eye.setAttribute("class", "glyphicon glyphicon-eye-close showTable");
        });

        $(document).on("click",".showTable", function(){
            var eye = this;
            console.log("salam ", eye.parentElement.parentElement);
            eye.setAttribute("class", "glyphicon glyphicon-eye-open hideTable");
        });
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>



<body style="background-color: #2a3542">

<div class="main-content container col-lg-10 col-lg-offset-1" style="background-color: #f2f2f2">
    <ul class="nav nav-tabs">
        <li style="width: 22%" class="text-center"><a href="https://www.ime.co.ir"><span style="height: 60px;" class="photo"><img alt='Responsive image'style="height: inherit" src="{% static 'img/ime-logo.png' %}"></span></a></li>
        <li style="width: 39%" class="text-center active"><a data-toggle="tab" href="#menu1">اطلاعات جامع بازار</a></li>
        <li style="width: 39%" class="text-center"><a  data-toggle="tab" href="#menu2">نمودارها</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div class="container-fluid panel-container" style="margin-top: 1%; padding: 2%">
                <div class="panel">
                    <div class="panel-heading main-panel-heading" style="background-color: #4250ae">
                        <i class="glyphicon glyphicon-stats"></i><span>&nbsp;&nbsp;بازار داخلی</span>
                    </div>
                    <div class="panel-body col-lg-12 " style="background-color: #afbcf3">
                        <div class="col-lg-6">
                            <div class="panel mshadow">
                                <div class="panel-heading">
                                    <span>حجم معاملات (تناژ)</span>
                                </div>
                                <div class="panel-body" style="padding: 0px !important;">
                                    <canvas id="Hajm" width="420" height="410" style="margin: 0px !important;"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel mshadow">
                                <div class="panel-heading">
                                    <span>ارزش معاملات (میلیون ریال)</span>
                                </div>
                                <div class="panel-body" style="padding: 0px !important;">
                                    <canvas id="Arzesh" width="420" height="410" style="margin: 0px !important;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 container-fluid" style="padding-right: 0px !important; margin-right: 0px !important;margin-top: 2% !important">
                    <div class="panel">
                        <div class="panel-heading main-panel-heading" style="background-color: #4250ae">
                            <i class="glyphicon glyphicon-globe"></i><span>&nbsp;&nbsp;بازار بین المللی</span>
                        </div>
                        <div class="panel-body col-lg-12" style="background-color: #afbcf3">
                            <p style="font-size: xx-large; font-family: 'XB Titr'">این بخش در حال تکمیل است ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 container-fluid" style="padding-left: 0px !important; margin-left: 0px !important;margin-top: 2% !important">
                    <div class="panel">
                        <div class="panel-heading main-panel-heading" style="background-color: #4250ae">
                            <i class="glyphicon glyphicon-list-alt"></i><span>&nbsp;&nbsp;اخبار</span>
                        </div>
                        <div class="panel-body col-lg-12" style="background-color: #afbcf3">
                            <ul class="container-fluid demo1" id="feed" style="margin-right: 0px; padding: 0px">

                            </ul>
                        </div>
                        <div class="panel-footer" style="background-color:#afbcf3 ">
                            <div class="input-group col-lg-6 pull-left" style="padding: 0px !important; border: 1px solid white">
                                <span class="input-group-addon" id="basic-addon1" style="background-color: #4250ae; border: 1px solid #4250ae"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="text" class="form-control" placeholder="جستجو در اخبار"  style="border: solid #4250ae; color: black">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="col-lg-12" id = "adder-container"style=" margin-top: 2%; margin-right: 2%">

                <form class="form-inline" id="adder">
                    <div class="form-group" style="font-family: 'XB Niloofar'; font-size: x-large;">
                        <label>- اضافه کردن نمودار</label>

                        <select id = "chart-type"class="form-control" style="box-sizing:content-box;">
                            <option disabled selected>بازه زمانی</option>
                            <option>سه هفتگی</option>
                            <option>فصلی</option>
                            <option>سالانه</option>

                        </select>
                    </div><div class="form-group push-right" style="font-family: 'XB Niloofar'; font-size: x-large;">
                    <label>منتهی به</label>

                    <select class="form-control push-right" id = "day" style="box-sizing:content-box;">
                        <option disabled selected>روز</option>
                    </select>
                    <select class="form-control push-right" id = "month" style="box-sizing:content-box;">
                        <option disabled selected>ماه</option>

                    </select>
                    <select class="form-control push-right" id="year" style="box-sizing:content-box;">
                    </select>
                    <input id="date_input" class="form-control push-right" type="hidden" onchange="set_date()"><button id="date_btn" class="form-control glyphicon glyphicon-calendar" style="margin-right: 0 !important;background-color: transparent; border: none; color: #d6403f; font-size: large"></button>
                    <script>
                        Calendar.setup({
                            inputField: 'date_input',
                            button: 'date_btn',
                            ifFormat: '%Y/%m/%d',
                            dateType: 'jalali',
                            displayArea: 'displau_area_1'
                        });
                    </script>
                    <label style="font-size: medium !important;" >عرضه</label>
                    <input type="radio" class="form-control push-right" id="arze" name="type" value="عرضه">
                    <label style="font-size: medium !important;">تقاضا</label>
                    <input type="radio" class="form-control push-right" id="taghaza" name="type" value="تقاضا">
                    <label style="font-size: medium !important;">معامله</label>
                    <input type="radio" class="form-control push-right" id="moamele" name="type" value="معامله">
                    <label style="font-size: medium !important;">ارزش</label>
                    <input type="radio" class="form-control push-right" id="arzesh" name="type" value="ارزش">
                    <button type="button" class="form-control glyphicon glyphicon-plus" style="color: #28ac0b; background-color: transparent; border: none; font-size: x-large" onclick="add_chart()"></button>
                </div>
                </form>
            </div>
        </div>


    </div>
</div>
<script src="{% static 'js/tinycolor-0.9.15.min.js' %}"></script>
<script src="{% static 'js/pick-a-color-1.2.3.min.js' %}"></script>
</body>
</html>
