{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script>
        function my_script(e) {
            e.preventDefault();
             $.ajax({
                url: " {% url 'getDatas' %}",
                dataType: "json",
                data:
                {
                    "main_group" : "صنعتی",
                    "sub_group" : "all",
                    "group" : "all",
                    "product" : "all",
                    "producer" : "all",
                    "time_slot" : 3,

                    "type" : "supply",
                    "end_date": "1394/07/26"
                },
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var div = document.getElementById("mydiv");
                    var table = document.createElement("table");
                    table.setAttribute("width", "500");
                    table.setAttribute("border", "5");
                    var Xs = response['data'][0], Ys = response['data'][1];
                    for (var i=0; i < Xs.length; i++){
                        var tr = document.createElement("tr");
                        var td1 = document.createElement("td");
                        var td2 = document.createElement("td");
                        td1.innerHTML = Xs[i];
                        td2.innerHTML = Ys[i];
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        table.appendChild(tr);
                    }
                    div.appendChild(table);
                },
                complete: function () {
                },
                error: function (xhr, textStatus, thrownError) {
                    alert("error doing something");
                }
            });
            return false;

        }
    </script>
</head>
<body onload="my_script(event)">
<div id="mydiv"></div>
</body>
</html>