.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
}

.nav-tabs
{
    height: 80px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}

.nav-tabs>li, .nav-tabs>li>a
{
    height: inherit;
    font-size: 30px;
    font-family: "titr";
    padding: 0px !important;
    line-height: 80px !important;
}

.nav-tabs>li:hover, .nav-tabs>li>a:hover
{
    background-color: #7f90d3 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    color: transparent;
    background-color: #f2f2f2 !important;
}

.nav-tabs {
    background-color: #afbcf3 !important;
    padding: 0px !important;
    margin: 0px !important;
}



.main-content {

    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 2%;
}

.main-panel-heading>span
{
    color: white !important;
    font-size: 20px;
}

span
{
    font-family: "XB Niloofar";
}

i{
    color: white !important;
}

.pagination>li>a {
    background-color: #4250ae !important;
    border: 1px solid white !important;
    color: white !important;
}


@font-face {
    font-family: "titr";
    src: url(../../static/fonts/xb_titre.eot);
    src: url(../../static/fonts/xb_titre.eot?#iefix) format("embedded-opentype"),
    url(../../static/fonts/xb_titre.woff) format("woff"),
    url(../../static/fonts/xb_titre.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "XB Niloofar";
    src: url(../../static/fonts/XBNiloofar.eot);
    src: url(../../static/fonts/XBNiloofar.eot?#iefix) format("embedded-opentype"),
    url(../../static/fonts/XBNiloofar.woff) format("woff"),
    url(../../static/fonts/XBNiloofar.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

select {
    color: #000 !important;
}

.shadow {
    box-shadow: 10px 10px 10px #2d4666 !important;
}